@use 'base/variables' as v;
@use 'base/mixins' as m;


.header {
    background-color: v.$color;

    @include m.telefono {
        .contenido-header {
            @include m.contenedor;
            @include m.display-flex;
            padding: 1.7rem;
        }
    }


    h1 {
        @include m.telefono {
            font-size: 2.5rem;
        }

        @include m.tablet {
            font-size: 4rem;
        }
    }
}

h1, .enlaces {
    color: v.$white
}

.navegacion {
    @include m.telefono {
        display: flex;
        gap: 3rem;
    }

    @include m.desktop {
        gap: 4rem;
    }
}

.enlaces {
    font-weight: v.$medium;

    @include m.telefono {
        font-size: 2.2rem;
    }

    @include m.tablet {
        font-size: 2.5rem;
    }

    @include m.desktop {
        font-size: 2.8rem;
    }

    &:hover {
        color: v.$white;
    }
}