@use 'base/variables' as v;
@use 'base/mixins' as m;


.intro {

    @include m.telefono {
        position: relative;
        min-width: 80rem;
        max-width: 130rem;
        overflow: hidden;
        margin: 0 auto;    
    
        .overlay {
            position: absolute;
            inset: 0;
            top: 40%;
            display: flex;
            align-items: center;
        }
    
        img {
            display: block;
            height: auto;
            @include m.desktop {
                height: 100%;
            }
        }
    }
}

.intro-texto {
    z-index: 10;
    @include m.contenedor;



    h2 {
        color: v.$white;
        font-weight: v.$bold;
    }

    @include m.telefono {
        h2 {
            font-size: 4rem;
            width: 60%;
            margin-top: 3rem;
        }
    }

    @include m.tablet {
        font-size: 5rem;
    }
    
    @include m.desktop {
        h2 {
            font-size: 7rem;
            margin-top: 3.5rem;
        }
    }
    
    
}

.whatsapp {
    @include m.boton;
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: v.$whatsapp;
    img {
        filter: invert(100%);
    }

    @include m.telefono {
        font-size: 2rem;
        padding: 1rem;
        gap: 1rem;

        img {
            height: 3.5rem;
            width: 3.5rem;
        }
    }

    @include m.tablet {
        font-size: 2.5rem;
        gap: 1.5rem;
    }

    @include m.desktop {
        font-size: 3rem;
        gap: 2rem;

        img {
            height: 4.5rem;
            width: 4.5rem;
        }
    }
}