@use 'base/variables' as v;
@use 'base/mixins' as m;

.intro {
    @include m.contenedor;
    h2 {
        @include m.texto-centrado(4rem);
        @include m.desktop {
            text-align: left;
        }

        @include m.desktop {
            font-size: 3.5rem;
            max-width: 80%;
        }

        @include m.desktopXL{
            font-size: 4rem;
        }

    }

    p {
        @include m.texto-centrado(2.7rem);
        @include m.desktop {
            text-align: left;
        }

        @include m.desktop {
            font-size: 2rem;
            max-width: 80%;
        }

        @include m.desktopXL {
            font-size: 2.7rem;
        }
    }

    .segundo-texto {
        font-weight: v.$bold;
        font-size: 2rem;
        color: v.$hover;
    }

    .btn-whatsapp {
        @include m.boton;
        width: 100%;
        background-color: v.$whatsapp;
        margin: 3rem auto;
        gap: 1rem;
        font-size: 2.4rem;

        @include m.telefono {
            width: 85%;
            font-size: 3rem;
        }

        @include m.tablet {
            display: inline-block;
            font-size: 2.5rem;
            margin: 2rem auto;
        }

        @include m.desktop {
            margin: 2rem 0;
        }
    }

    .display {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            filter: invert(100%);
            height: 4.5rem;
            width: 4.5rem;
        }

        @include m.tablet {
            width: fit-content;
        }
    }

    .enlace-correo {
        display: block;
        text-align: center;
        color: v.$hover;
        font-size: 1.8rem;
        text-decoration: underline;
        cursor: pointer;

        @include m.desktop {
            display: inline-block;
            text-align: left;
        }

        &:hover {
            color: v.$white;
        }
    }
}

.contenido-intro {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top : 5rem;
    @include m.desktop {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 110rem;
        height: 80vh;
        margin: 0 auto;
    }

    @include m.desktopXL {
        max-width: 130rem;
    }
}

.intro-imagen {
    width: 100%;
    padding-top: 4rem;

    @include m.tablet {
        width: 70%;
        margin: 0 auto;
    }

    @include m.desktop {
        width: 50%;

        img {
            border-radius: 1rem;
        }
    }
}