@use "base/variables" as v;
@use "base/mixins" as m;

.videos {
    @include m.contenedor;
    h2 {
        @include m.texto-centrado(3rem);
        @include m.tablet {
            text-align: left;
        }
    }
}

.videos-contenedor {
    display: grid;
    gap: 3rem;
    @include m.tablet {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    @include m.desktop {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    iframe {
        width: 100%;
        height: 25rem;
        border-radius: 2rem;
    }
}